@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    color: #F1EEE9;

}

:root :focus {
    outline-color: #EC994B;
    outline-style: solid;
}

body {
    background-color: #15133c;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgb(255, 164, 60) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #38356e;
}

*::-webkit-scrollbar-thumb {
    background-color: #ec994b;
    border-radius: 10px;
}

.skill-gradient {
    background: linear-gradient(to right, rgb(252, 74, 26), rgb(255, 164, 60));
}

.tab-gradient {
    background: radial-gradient(circle at 85.4% 50.8%, rgb(3, 22, 65) 0%, #EC994B 74.2%);
}

.tab-gradient:hover {
    background: #15133c
}